<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>有給管理システム</title>
</head>
<body>
    <h1>詳細情報</h1>
    <div>
        <h2>有給休暇一覧</h2>
        
        <table>
            <thead>
              <tr>
                <th>有給ID</th>
                <th>有給種別</th>
                <th>付与日数</th> 
                <th>残り日数</th>
                <th>有効期限</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="vacation : ${vacationList}">
                <td th:text="${vacation.vacationId}"></td>
                <td th:text="${vacation.vacationType}"></td>
                <td th:text="${vacation.numberOfDays}"></td>
                <td th:text="${vacation.daysRemaining}"></td>
                <td th:text="${vacation.vacationDeadline}"></td>
              </tr>
            </tbody>
          </table>

    </div>
    <div>
        <h2>取得履歴</h2>
        <table>
            <thead>
              <tr>
                <th>休暇取得ID</th>
                <th>休暇取得日</th>
                <th>休暇種別</th> 
                <th>休暇区分</th>
                <th>メモ</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dbDatas : ${useData}">
                <td th:text="${dbDatas.vacationGetId}"></td>
                <td th:text="${dbDatas.vacationData}"></td>
                <td th:text="${dbDatas.vacationType}"></td>
                <td th:text="${dbDatas.vacationSection}"></td>
                <td th:text="${dbDatas.vacationGetNote}"></td>
              </tr>
            </tbody>
          </table>

    </div>

    <div><a th:href="@{/}">TOPに戻る</a></div>
</body>
</html>
