<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>有給管理システム</title>
    <link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
        body {
            font-family: 'Noto Sans JP', sans-serif;
        }
    </style>
</head>
<body>
    <div class="fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-cyan-600">
        <div class="text-white text-xl">
            <div class="p-2.5 mt-1 flex items-center">
                <i class="fa-solid fa-robot"></i>
                <h1 class="font-bold text-white text-xl ml-3 mr-3">有給管理システム</h1>
                <i class="fa-solid fa-robot"></i>
            </div>
            <div class="my-2 bg-white h-[1px]"></div>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-sky-700 text-white">
            <i class="fa-solid fa-house"></i>
            <span class="text-[15px] ml-4 text-white font-bold">
                <a th:href="@{/}">トップページ</a>
            </span>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-sky-700 text-white">
            <i class="fa-regular fa-calendar"></i>
            <span class="text-[15px] ml-4 text-white font-bold">
                <a th:href="@{/entry}">有給付与</a>
            </span>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-sky-700 text-white">
            <i class="fa-solid fa-umbrella-beach"></i>
            <span class="text-[15px] ml-4 text-white font-bold">
                <a th:href="@{/use}">有給消化</a>
            </span>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-sky-700 text-white">
            <i class="fa-solid fa-clipboard"></i>
            <span class="text-[15px] ml-4 text-white font-bold">
               <a th:href="@{/detailInf}">詳細情報</a>
            </span>
        </div>
    </div>
    <div class="ml-[300px] p-[40px] w-[calc(100%-300px)]">
        <h1 class="text-3xl font-bold text-gray-900 mb-10">有給付与</h1>
        <form action="/entry" method="post" class="my-8">
            <div class="mb-5">
                <label for="vacationType">有給種別</label>
                <select name="vacationType" id="vacationType">
                    <option value="normal">有給休暇</option>
                    <option value="summer">夏季休暇</option>
                    <option value="birthday">バースデー休暇</option>
                </select>
            </div>
            <div class="mb-5">
                <label for="numberOfDays">付与日数</label>
                <input type="number" name="numberOfDays" id="numberOfDays">
            </div>
            <div class="mb-5">
                <label for="vacationDeadline">休暇取得期限</label>
                <input type="date" name="vacationDeadline" id="vacationDeadline">
            </div>
            <div class="mb-5"><button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">登録</button></div>
    
            <div class="mb-5">
                <div th:text="${message}"></div>
            </div>
    
        </form>  
    </div>
</body>
</html>

